<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/layout.css">
    <script>
        function checkpasswords() {
            const password1 = document.getElementById('newpassword').value;
            const password2 = document.getElementById('confirmpassword').value;
            const message = document.getElementById('message');
            const submitButton = document.getElementById('submitbutton');
            
            if (password1 === password2 && password1.length > 0) {
                message.textContent = 'New passwords match';
                message.style.color = 'green';
                submitbutton.disabled = false;
            } else {
                message.textContent = 'New passwords do not match';
                message.style.color = 'red';
                submitbutton.disabled = true;
            }
        }
    </script>

</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <div class="kontainer-utama">

        <form action="/admin/password" method="post">
                <div class="row"> 
                    <div class="col"><label for="oldpassword">Old Password:</label></div>
                    <div class="col"><input type="password" id="oldpassword" name="oldpassword"> </div>
                </div>

                <div class="row">
                    <div class="col"><label for="newpassword">New Password:</label> </div>
                    <div class="col"><input type="password" id="newpassword" name="newpassword"> </div>
                </div> 

                <div class="row">
                    <div class="col"><label for="confirmpassword">Confirm New Password:</label></div>
                    <div class="col"> <input type="password" id="confirmpassword" name="confirmpassword" oninput="checkpasswords()"></div>
                </div> 

                <div id="message"></div>
                <div class="kontainer-button">
            <button type="submit" id="submitbutton" disabled>Change Password</button>
                </div>    
        </form>    
        <%=locals.message%>
            </div>
    </div>
</body>
</html>