<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
    <script>
        function checkUsernameAvailabilityAndSubmit(event) {
            event.preventDefault();
            
            var form = document.getElementById('registerForm');
            var username = document.getElementById('username').value;

            // AJAX request to check username availability
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/check-username', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    var availabilityMessage = document.getElementById('availabilityMessage');
                    if (response.available) {
                        availabilityMessage.innerHTML = "Username is available";
                        availabilityMessage.style.color = "green";
                        // If username is available, submit the form
                        form.submit();
                    } else {
                        availabilityMessage.innerHTML = "Username is already taken";
                        availabilityMessage.style.color = "red";
                    }
                }
            };
            xhr.send('username=' + encodeURIComponent(username));
        }
    </script>

</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <form id="registerForm" action="/admin/username" method="POST" onsubmit="checkUsernameAvailabilityAndSubmit(event);">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <div id="availabilityMessage"></div>
            <button type="submit">Register</button>            
        </form>
        <%=locals.message%>
        <% if (locals.newusername) { %>
            <br> New username is <%=locals.newusername%>
        <% } %>

    </div>


</body>
</html>