<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/layout.css">

</head>
<body>
    <div class="title header"  style="display: flex; align-items: center; justify-content: center; background-color: #03045E;">
        <h2 style="background-color: #03045E; color: #90E0EF; margin-bottom: 0;"> Library Application </h2>
    </div>  
  

    <div class="d-flex justify-content-center align-items-center full-height">
    <form action="/login" method="post">
        <div class="row">
        <div class="col"> <label for="name">Username:</label> </div>
        <div class="col"> <input type="text" id="username" name="username" required> </div>
        </div>

        <div class="row">
        <div class="col"> <label for="password">Password:</label> </div>
        <div class="col"> <input type="password" id="password" name="password" required> </div>
        </div>

        <button type="submit">Login</button>
        <br><%=locals.message%>


    </form>
    </div>
    
</body>
</html>