html, body{
    height: 100%;
    margin: 0;
}

.container-fluid{
    min-height:100%;
    background-color: #90E0EF;
    color: #03045E;
}

.kontainer-utama {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
}

.col{margin:5px;}

p{margin:5px;}
/*
.kontainer-teks{
    align-items: center; 
    justify-content: center;
    display: flex;
}

.message-container {
    text-align: center; 
}
*/
/*
.kontainer-teks{
    justify-content: left; 
    text-align: left;
    display: flex; 
}*/


.kontainer-button{
/*    align-items: center; 
    justify-content: center;
       padding: 10px; */
    display: flex; 
    margin : 5px;
 
}

  /* kontainer-utama
  display: flex;
   background-color: #90E0EF;
    color: #03045E;*/

button{
    background-color: #03045E;
    color: #90E0EF;
}


/*
.full-height {
    height: 100vh;
    background-color: #90E0EF;
}*/


.aligned-table {
    width: 100%;
    border-collapse: collapse;
}

.aligned-table th, .aligned-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Aligns text to the left */
}

.aligned-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}





.button-input{
    background-color: #03045E;
    color: #90E0EF;
   /* display: block;*/
}



/*
.kontainer-baris{
    width: 100%;
    display: flex;
    justify-content: center;
}*/

